body {
    background-color: #eee;
    color: darkblue;
    background-image: url("../tapa.jpg");
}

.error {
    color: red;
}

header {
    padding: 80px 0 5px;
    border-bottom: 1px solid #133783;
    margin-bottom: 10px;
    font-size: 20px;
}

.navbar-blue {
    background-color: #3b5998;
    background-image: linear-gradient(#4e69a2, #3b5998 50%);
    border-bottom: 1px solid #133783;
}

.navbar-blue a {
    color: yellow !important;
}

.navbar-blue a:hover {
    background: rgba(0, 0, 0, .1);
}

.btn-outline-success {
    color: yellow;

}
.form-inline {
    color: yellow;
}

.ctr {
    background-color: ivory;
}

.card-body {
    background-color: ivory;
    color: darkblue;
}

.example11 {
    text-align: center;
}

.margined > li{
    margin-left: 2px;
    margin-right: 2px;
}

.mainBody {
    margin-top: 12.5em;
}

.primaryTitle {
    margin-top: 47px;
    margin-bottom: 70px;
}

.secondaryTitle {
    margin-top: 25px;
    margin-bottom: 25px;
}

.primaryComment {
    margin-bottom: 50px;
}

.secondaryComment {
    margin-bottom: 58px;
}